<div class="container">
  <div class="tree-view">
    <dx-tree-list id="tasks" [dataSource]="types" keyExpr="id" [columnAutoWidth]="true" [wordWrapEnabled]="true"
      [showBorders]="true" (onSelectionChanged)="selectedDeviceSchanged($event)">
      <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

      <dxi-column dataField="name" [width]="300"></dxi-column>
    </dx-tree-list>
  </div>
  <div class="map">
    <dx-vector-map #map id="vector-map" [center]="center" [zoomFactor]="zoomFactor" (onClick)="mapClick($event)"
      (onCenterChanged)="centerChanged($event)" (onZoomFactorChanged)="zoomFactorChange($event)"
      [bounds]="[-180, 90, 180, -90]">
      <dxo-tooltip [enabled]="true" contentTemplate="tooltipContent"></dxo-tooltip>
      <dxo-loading-indicator [show]="true"></dxo-loading-indicator>
      <dxi-layer [hoverEnabled]="false" [dataSource]="buildingData" name="building"></dxi-layer>
      <dxi-layer color="transparent" [dataSource]="roomsData" name="rooms" [borderWidth]="1">
        <dxo-label [enabled]="true" dataField="name"></dxo-label>
      </dxi-layer>
      <dxi-layer [dataSource]="plant" dataField="url" elementType="image" type="marker" [size]="1000">
        <dxo-label dataField="text">
          <dxo-font [size]="14"></dxo-font>
        </dxo-label>
      </dxi-layer>
      <dxi-layer [dataSource]="devices" dataField="url" elementType="image" type="marker" [size]="51">
        <dxo-label dataField="text">
          <dxo-font [size]="14"></dxo-font>
        </dxo-label>
      </dxi-layer>

      <div *dxTemplate="let info of 'tooltipContent'" class='state-tooltip'>
        <h4>Punto</h4>
        <div>
          {{info | json}}
        </div>
      </div>
    </dx-vector-map>
  </div>
</div>
